

.logo img{
    height:20px;
    width:100px;
    object-fit:fill;
    padding-left:15px;


}
.headerstyle{
    display:flex;
    position:fixed;
    background-color:white;
    top:0;
    left:0;
    right:0;
    height:60px;
    width:1600px;
    align-items: center;
    padding-left:160px;
    border-bottom-color:rgb(15, 138, 195);
    border-bottom-width:3px;
    border-bottom-style:solid;


    
}
.marketingsolutions{
    padding-left:15px;
    color:gray;
    font-size:16px;
}
.create-button{
    margin-left:800px;
}
.adbutton{
    background-color:white;
    color:rgb(15, 138, 195);
    border-color:rgb(15, 138, 195);
    border-style:solid;
    font-weight:bold;
    padding-left:18px;
    padding-right:18px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:2px;
}
.upload-icon img{
    height:25px;
    width:20px;
    padding-left:20px;
 
}
.mainstyle{
    width:1520px;
    height:500px;
}
.linkedin-pages img{
    width:1520px;
    height:400px;
    padding-top:50px;
    margin-left:0px;
    
}




.background-text{
    margin-top:-300px;
    margin-left:200px;
}
.linkedin-text{
    font-size:60px;
    font-weight:100;
}
.professional-network{
    color:gray;
    font-size:23px;
    width:400px;
    margin-top:20px;
    margin-bottom:15px;
}
.page-button{
    color:white;
    background-color: rgb(53, 78, 205);
    font-weight:bold;
    font-size:13px;
    padding-left:35px;
    padding-right:35px;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-radius:2px;
}

.row2 .establish{
    font-size:40px;
    width:800px;
    margin-left:200px;
    
}
.img-flex{
    display:flex;
    flex-direction: row;
}
 .moreclicks img{
    width:350px;
    padding-right:30px;
    margin-top:60px;
 }
 .img1 .content{
    width:300px;
    font-size:20px;
    line-height:30px;
    margin-bottom:60px;
 }

 .row3{
    background-color:rgb(246, 246, 234);
    height:900px;
    width:1500px;

 }
 .row3 .see-how-text{
    margin-left:250px;
    font-size:40px;
    width:650px;
    margin-bottom:35px;
 }
 .row3 .getting-started-text{
    margin-left:250px;
    font-size:25px;
    margin-bottom:70px;
    
 }
 .create-page{
    color:rgb(15, 138, 195);
 }

 .div-img-text{
    display:flex;
 }
 .img-mobile img{
    margin-left:250px;
 }
 .mobile-text{
    margin-left:150px;
    font-size:18px;
    margin-top:100px;
    
 }
 .join{
    margin-left:20px;
    font-size:30px;
    font-weight:bold;
 }
 .text-list li{
    margin-top:50px;
    line-height:4px;

 }
